<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .inputs {
        /* width: 75% !important; */
        display:inline-block;
    }
    .input-group {
        margin-bottom: 25px;
    }
    .submitButtons {
        width: 150px;
    }  
    li {
      background-color: lightgray;
    }
  </style>
  <title>PIPLAY</title> 
</head>
<body>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-12">
        <h1 class = "text-center titleText">Sandbox Jukebox</h1>
        <p class = "text-center descriptionText">Enter a YouTube URL to play on the speaker!</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4 text-left">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{vol}}%;" aria-valuenow="{{vol}}" aria-valuemin="0" aria-valuemax="100">Volume: {{vol}}%</div>
        </div>
        <div>Currently playing: {{ current }}</div>
        

      </div>
      <div class = "col-md-4 text-center">
        <h2>Songs in Queue</h2>
        <ul class="list-group">

          {% for i, t, d in queue %}
          <li class="list-group-item list-group-item-action"> <span class = "songInterval">{{i}}. </span><span class = "songTitle">{{t}} </span><span class = "songDuration">({{d}})</span> </li>
          {% endfor%}
      
        </ul>
      </div>
      <div class = "col-md-4 text-right">
          {% block body %}
  
          <form action="/play" method="POST">
            <div class = "input-group">
                <input type="url" name="yt" placeholder="YouTube URL" class = "form-control inputs">
                <div class = "input-append">
                  <input type="submit" value="Add to Queue" class = "btn btn-primary submitButtons">
                </div>
            </div>

          </form>
        
          <form action="/playnow" method="POST">
            <div class = "input-group">
              <input type="url" name="yt" placeholder="YouTube URL" class = "form-control inputs">
              <div class = "input-group-append">
                  <input type="submit" value="Play Now" class = "btn btn-primary submitButtons"> 
              </div>
            </div>
          </form>
        
          <form action="/vol" method="POST">
            <div class = "input-group">

              <input type="int" name="vol" placeholder="Volume [0-100]" class = "form-control inputs">
              <div class = "input-group-append">

                <input type="submit" value="Change Volume" class = "btn btn-primary submitButtons">
              </div>
            </div>
          </form>
          <form action="/skip" method="POST">
            <input type="submit" value="Skip" class = "btn btn-danger submitButtons">
          </form>
          {% endblock %}
      </div>
    </div>

      <br>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
